
body {
    background-color: bisque;
}
.page {
    display: flex;
    flex-wrap: wrap;
}
div {
    padding: 10px;
}
.content {
    background-color: aqua;
    display: flex;
    width: 100px;
    height: 100px;
}
.app-page {
    padding: 0 !important;
    margin: -30px -18px!important;
}
.header, .footer {
    height: 80px;
    line-height: 80px;
}

.header {
    background-color: seagreen;
}
.main {
    height: calc(99vh - 200px);
    background-color: skyblue;
}
.footer {
    background-color: orange;
}